/* input[type="range"] { */
.rs-range-line {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 30%;
}

.rs-range-line:focus {
  outline: none;
}

.rs-range-line::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #000000;
  border-radius: 2px;
}

.rs-range-line::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #e67e22;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

.rs-range-line:focus::-webkit-slider-runnable-track {
  background: #000000;
}

.rs-range-line::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #000000;
  border-radius: 2px;
}

.rs-range-line::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border: 0;
  border-radius: 50%;
  background: #e67e22;
  cursor: pointer;
}

.rs-range-line::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.rs-range-line::-ms-fill-lower {
  background: #000000;
  border-radius: 2px;
}

.rs-range-line::-ms-fill-upper {
  background: #000000;
  border-radius: 2px;
}

.rs-range-line::-ms-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #e67e22;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the edge from showing*/
  border: 0;
  height: 5px;
  width: 25px;
  /*Expand the click area*/
}

.rs-range-line:focus::-ms-fill-lower {
  background: #000000;
}

.rs-range-line:focus::-ms-fill-upper {
  background: #000000;
}
#rs-value {
  /* position: absolute; */
  align-content: center;
  display: inline;
  font-size: 1.6rem;
  font-weight: bold;
  color: #e67e22;
}

@media screen and (min-width: 922px) {
  #rs-value {
    width: 10vw;
    margin-top: 1rem;
  }
}
.range-slider-simple {
  position: relative;
  display: inline;
}

